<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Zmiana danych pracownika</title>
</head>
<body>
<h2>Zmiana danych pracownika</h2><br/><br/>
<h2>Dane pracownika do zmiany</h2><br/><br/>
<form method="POST" modelAttribute="form">
    <label>Imie</label> <input type="text" name="firstName1" />
    <label>Nazwisko</label> <input type="text" name="lastName1" />

<h2>Nowe dane pracownika</h2><br/><br/>

    <label>Imie</label> <input type="text" name="firstName2" />
    <label>Nazwisko</label> <input type="text" name="lastName2" />

    <input type="submit" value="Zmień!">
    <input type="reset" value="Wyczyść">
</form>
<br />
<hr />

</body>
</html>