<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dodaj pracownika</title>
</head>
<body>
<a href="employee-all">Lista wszystkich pracowników</a><br /><br/>
<form method="POST" modelAttribute="form">
    <label>Imie</label> <input type="text" name="firstName" />
    <label>Nazwisko</label> <input type="text" name="lastName" />
    <label>Zarobki</label> <input type="text" name="salary" />
    <input type="submit" value="Dodaj!">
</form>
<br />
<hr />

</body>
</html>