<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Zanjdz pracownika po imieniu</title>
</head>
<body>
<a href="employee-all">Lista wszystkich pracowników</a><br /><br/>
<p2>Znajdz pracownika po imieniu</p2><br/><br/>
<form method="POST" modelAttribute="form">
    <label>Imie</label> <input type="text" name="firstName" />

    <input type="submit" value="Szukaj!">
    <input type="reset" value="Wyczyść">
</form>
<br />
<hr />

</body>
</html>