<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Usuwanie pracownika z bazy</title>
</head>
<body>
<h2>Usuwanie pracownika z bazy</h2><br/><br/>
<form method="POST" modelAttribute="form">
    <label>Imie</label> <input type="text" name="firstName" />
    <label>Nazwisko</label> <input type="text" name="lastName" />

    <input type="submit" value="Usuń!">
    <input type="reset" value="Wyczyść">
</form>
<br />
<hr />

</body>
</html>